@-webkit-keyframes pmsgblink {
  50% { color: yellow; }
  51% { color: red; }
  100% { color: red; }
}
@keyframes pmsgblink {
  50% { color: yellow; }
  51% { color: red; }
  100% { color: red; }
}

.block-private-message-windows-block, .block-private-message-windows-block * {
  box-sizing: border-box;
}

.block-private-message-windows-block,
.block-private-message-windows-block.contextual-region {
  position: fixed;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.block-private-message-windows-block .block-content {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 10000;
  height: 50px;
  width: 260px;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.block-private-message-windows-block .label {
  display: block;
  background: #aaa;
  color: white;
  width: 100%;
  height: 50px;
  padding: 10px 0 0 15px;
  font-size: 18px;
  margin: 0;
  border: solid 1px #aaa;
  cursor: pointer;
}
.block-private-message-windows-block .label img {
  width: auto;
  height: 30px;
  display: inline-block;
  margin: 0 10px 0 0;
  background: white;
  vertical-align: top;
}

.block-private-message-windows-block .block-content.active {
  height: 500px;
  max-height: 85%;
}
.block-private-message-windows-block .inbox-thread-list {
  background: white;
  border: solid 1px #aaa;
  color: #3c3c3c;
  height: 449px;
  overflow-x: hidden;
  overflow-y: auto;
}
.block-private-message-windows-block .new-user-search {
  position: relative;
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  padding: 3px 5px;
  display: none;
}
.block-private-message-windows-block .new-user-search input {
  width: 100%;
  box-shadow: none;
  color: rgba(0,0,0,.9);
  font-size: 12px;
  /*border: none;*/
}
.block-private-message-windows-block .new-user-search .user-list {
  position: absolute;
  background: white;
  width: 248px;
  border: solid 1px #aaa;
  padding: 2px 9px;
}
.block-private-message-windows-block .new-user-search .user-list:empty {
  display: none;
}
.block-private-message-windows-block .new-user-search .user-list .user-for-new-thread{
  padding: 1px 2px;
  color: rgba(0,0,0,.8);
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 3px;
}
.block-private-message-windows-block .new-user-search .user-list .user-for-new-thread:hover {
  background: #eee;
  cursor: pointer;
}
.block-private-message-windows-block .inbox-thread-list .no-thread {
  padding: 10px;
}

.block-private-message-windows-block .inbox-thread-list .thread {
  border-bottom: solid 1px #ccc;
  padding: 3px 5px;
  cursor: pointer;
}
.block-private-message-windows-block .inbox-thread-list .thread.opening,
.block-private-message-windows-block .threads-wrapper .thread .load-prev.loading {
  background: url('/core/themes/stable/images/core/throbber-active.gif') center center no-repeat white;
  cursor: none;
}
.block-private-message-windows-block .inbox-thread-list .thread.new:not(.own) {
  background-color: rgba(255, 255, 0, 0.28);
}
.block-private-message-windows-block .block-content.new .label.main-title {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
.block-private-message-windows-block .block-content .label.main-title .unreaded-cnt {
  display: none;
}
.block-private-message-windows-block .block-content.new .label.main-title .unreaded-cnt {
  display: inline;
}
.block-private-message-windows-block .block-content.new .label.main-title .unreaded-cnt::before {
  display: inline;
  content: " (";
}
.block-private-message-windows-block .block-content.new .label.main-title .unreaded-cnt::after {
  display: inline;
  content: ")";
}

.block-private-message-windows-block .inbox-thread-list .thread .user-picture {
  float: left;
  margin: 0 5px 0 0;
}
.block-private-message-windows-block .inbox-thread-list .thread .user-picture img {
  width: auto;
  height: 30px;
}
.block-private-message-windows-block .inbox-thread-list .user-title {
  font-size: 12px;
}
.block-private-message-windows-block .inbox-thread-list .user-message {
  font-size: 12px;
}
.block-private-message-windows-block .inbox-thread-list .thread.new .user-message {
  font-weight: bold;
}

.block-private-message-windows-block .threads-wrapper {
  position: fixed;
  bottom: 0;
  right: 300px;
  z-index: 10000;
  height: 0;
  width: calc(100% - 260px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.block-private-message-windows-block .threads-wrapper .thread {
  background: white;
  border: solid 1px #aaa;
  color: #3c3c3c;
  height: 50px;
  overflow: hidden;
  width: 260px;
  margin: 0 0 0 10px;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
.block-private-message-windows-block .threads-wrapper .thread.active {
  height: 500px;
  max-height: 85vh;
}

.block-private-message-windows-block .threads-wrapper .thread .load-prev {
  height: 20px;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.block-private-message-windows-block .threads-wrapper .thread .messages {
  height: 300px;
  overflow-y: auto;
  border: none;
  padding: 0;
  margin: 0;
}

.block-private-message-windows-block .threads-wrapper .thread .load-prev[style='display: none;'] + .messages {
  height: 320px;
}



.block-private-message-windows-block .threads-wrapper .thread .request {
  position: relative;
  margin: -300px 0 0;
  height: 300px;
  background: #eee;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.block-private-message-windows-block .threads-wrapper .thread .request .question {
}
.block-private-message-windows-block .threads-wrapper .thread .request .butt {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 1px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  background: white;
}
.block-private-message-windows-block .threads-wrapper .thread .request .butt:hover {
  background: #ccc;
}
.block-private-message-windows-block .threads-wrapper .thread .request .butt.exec {
  background: url('/core/themes/stable/images/core/throbber-active.gif') center center no-repeat white;
  cursor: none;
}
.block-private-message-windows-block .threads-wrapper .thread .request .note {
  font-size: 14px;
}

.block-private-message-windows-block .threads-wrapper .thread .operations {
  position: relative;
}

.block-private-message-windows-block .threads-wrapper .thread .delete-thread {
  width: 35%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  font-size: 10px;
  border-radius: 0 5px 0 0;
  border-top: solid 1px #aaa;
  border-right: solid 1px #aaa;
}
.block-private-message-windows-block .threads-wrapper .thread .delete-thread:hover {
  font-weight: bold;
}

.block-private-message-windows-block .threads-wrapper .thread textarea {
  width: 100%;
  height: 83px;
  font-size: 14px;
}
.block-private-message-windows-block .threads-wrapper .thread input {
  margin: 3px 3px 0 auto;
  display: block;
  font-size: 16px;
}

.block-private-message-windows-block .operations.sending {
  background: url('/core/themes/stable/images/core/throbber-active.gif') center center no-repeat;
  height: 128px;
}
.block-private-message-windows-block .operations.sending textarea,
.block-private-message-windows-block .operations.sending input {
  display: none;
}

.block-private-message-windows-block .threads-wrapper .thread .private-message {
  border-bottom: solid 1px #ccc;
  padding: 4px;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message:last-child {
  margin: 0 0 20px;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .authorImg {
  float: left;
  margin: 0 2px 0 0;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .authorImg img {
  width: auto;
  height: 30px;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .owner {
  font-size: 13px;
  line-height: 26px;
  white-space: nowrap;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .owner div {
  display: inline-block;
  overflow: hidden;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .owner .created div {
  text-overflow: ellipsis;
  max-width: 133px;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .owner .name {
  font-weight: bold;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
.block-private-message-windows-block .threads-wrapper .thread .private-message .message {
  font-size: 12px;
}

.block-private-message-windows-block .threads-wrapper .thread .private-message .message p {
  margin: 2px 0;
}

.block-private-message-windows-block .label .x {
  margin: 5px 5px 0 0;
  content: "\d7"; /* use the hex value here..., in html you need &#xd7; */
  font-size: 30px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  float: right;
}

.block-private-message-windows-block .main-title .add-new {
  float: right;
  width: 22px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.block-private-message-windows-block .main-title .add-new svg {
  width: 22px;
  height: 30px;
}
.block-private-message-windows-block .block-content.active .main-title .add-new {
  display: block;
}

