@media screen and (max-width: 768px) {
  .block-private-message-windows-block .label {
    font-size: 2vw;
  }
  .block-private-message-windows-block .block-content {
    width: 33%;
    right: 0.5%;
  }
  .block-private-message-windows-block .threads-wrapper .thread {
    width: 49%;
  }

  .block-private-message-windows-block .threads-wrapper {
    width: 65%;
    right: 35%;
  }
  .block-private-message-windows-block .threads-wrapper .thread .private-message .owner .name,
  .block-private-message-windows-block .threads-wrapper .thread .private-message .owner div {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 600px) {
  .block-private-message-windows-block .label {
    font-size: 3vw;
  }
  .block-private-message-windows-block .block-content {
    width: 49%;
  }
  .block-private-message-windows-block .threads-wrapper .thread {
    width: 100%;
  }
  .block-private-message-windows-block .threads-wrapper {
    right: 51%;
    width: 49%;
  }
  .block-private-message-windows-block .threads-wrapper .thread .private-message .message,
  .block-private-message-windows-block .inbox-thread-list .user-message {
    font-size: 2.5vw;
  }
  .block-private-message-windows-block .threads-wrapper .thread .private-message .owner .name,
  .block-private-message-windows-block .threads-wrapper .thread .private-message .owner div {
    font-size: 2.5vw;
  }
  .block-private-message-windows-block .threads-wrapper .thread .private-message .owner .name {
    max-width: 18vw;
  }
}
