{% set ownMessageClass = '' %}
{% if user.id == thread.message.uid %}
  {% set ownMessageClass = 'own' %}
{% endif %}
{% if thread.updated > thread.user.lastAccessTime %}
  {% set ownMessageClass = ownMessageClass~' new' %}
{% endif %}

{% set threadUserPicture = '' %}
{% if thread.user.picture %}
  {%- set threadUserPicture -%}
    <img src="{{ thread.user.picture }}" />
  {%- endset -%}
{% endif %}


<div class="thread thread-{{ thread.id }} thread-user-{{ thread.user.id }} {{ ownMessageClass }}" data-user-id="{{ thread.user.id }}" data-thread-id="{{ thread.id }}" data-last-update="{{ thread.updated }}" data-last-access="{{ thread.user.lastAccessTime }}" >
  <div class="user-picture">{{ threadUserPicture }}</div>
  <div class="user-title user-id-{{ thread.user.id }}">{{ thread.user.name }}</div>
  <div class="user-message">{{ thread.message.username }}: {{ thread.message.text }}</div>
</div>
