{#
/**
 * @file
 * Default theme implementation to display a private message thread.
 *
 * Available variables:
 * - private_message_thread: The private message thread entity
 *    with limited access to object properties and methods.
 * - content: All private message thread items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - last_update: Themed display of the last update time for the thread
 * - url: Direct URL of the current private message thread.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 *
 * @see template_preprocess_private_message()
 *
 * @ingroup themeable
 */
#}
{#{{ content|ksm }}#}
<div class="priv-mess-thread">
    <div class="pmi-image-wrapper">
      {% set members %}{{ content._field_layout.content.members }}{% endset %}
      {{ members|replace({'<span>You</span>':''})|raw }}
    </div>
    <div class="pmi-message-wrapper">
{#      {% set content_message_update = { 'wrapper': { 'message': { '#view_mode':'windows-inbox' } } } %}#}
{#      {% set content_message = content._field_layout.content.private_messages[0]|merge(content_message_update) %}#}
      {% set content_message = content._field_layout.content.private_messages[0] %}

{#      {% set content['_field_layout']['content.private_messages'][0]['wrapper']['message']['#view_mode'] = 'windows-inbox' %}#}
{#      {{ content._field_layout.content.private_messages[0]|ksm }}#}
{#      {{ content_message|ksm }}#}
      {{ content_message }}
    </div>
</div>

