{#
/**
 * @file
 * Default theme implementation to display a private message.
 *
 * Available variables:
 * - private_message: The private message entity
 *    with limited access to object properties and methods.
 * - content: All private message items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - url: Direct URL of the current private message.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 *
 * @see template_preprocess_private_message()
 *
 * @ingroup themeable
 */
#}

{% set created = content.created ?? content._field_layout.content.created %}
{% set created_unixtime = content._field_layout.content.created_unixtime %}
{% set user_title = content.user_title ?? content._field_layout.content.user_title %}
{% set message = content.message ?? content._field_layout.content.message %}
{% set user_picture_fieldname = content.user_picture_fieldname ?? content._field_layout.content.user_picture_fieldname %}
{% set owner = content.owner ?? content._field_layout.content.owner %}
{% set default_user_picture = content.default_user_picture ?? content._field_layout.content.default_user_picture %}


{% set author_image = '' %}

{% if user_picture_fieldname %}
  {% set user_picture = attribute(owner[0]['#user'], user_picture_fieldname) %}

  {% set image_uri = user_picture.entity.uri.value %}
  {% if not image_uri %}
    {% set image_uri = default_user_picture['#uri'] %}
  {% endif %}

  {% if image_uri %}
    {% set author_image = {
      '#theme':      'image_style',
      '#style_name': 'thumbnail',
      '#uri':        image_uri,
      '#attributes': { class: 'authorImg' },
    } %}
  {% endif %}
{% endif %}

<div{{ attributes }}>
  <div class="authorImg">{{ author_image }}</div>
  <div class="owner">
    <span class="name">{{ user_title }}</span>
    <span class="created">{{ created }} {# {{ created_unixtime|date('Y.m.d H:i') }} #}</span>
  </div>
  <div class="message">{{ message }}</div>
</div>
