<div class="label main-title">
  <div class="x">&#xd7;</div>
  {%- if userSearch >0 -%}
    <div class="add-new" title="{{ addAnotherUserMsg }}" alt="{{ addAnotherUserMsg }}" >
      {% include modulePath~'/img/addNewMessage.svg' %}
    </div>
  {%- endif -%}
  <img src="{{ userPicture }}" />
  {{ 'Messages'|t }}
  <span class="unreaded-cnt"></span>
</div>
